body {
  margin: 0;
  padding: 0;
  background: url('https://i.imgur.com/UMnw0tW.jpg');
  font-family: 'Ubuntu', sans-serif;
  background-position: center center;
  background-size: cover;
  color: #121212;

  #root {
    padding-top: 80px;
    text-align: center;
  }

}
